body {
  background: url('../images/space-background.png');
  font-family: 'Open Sans', arial, sans-serif;
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'century', cursive;
  color: gray;
  text-align: center;
  margin-bottom: 2rem;
}

h1 {

  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;
}
#video {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1;

}
/*
 * Hero Styles
*/
.hero {
  line-height: 0;
}
.hero img {
  width: 100%;
   border-radius: 20px 20px 0 0;
}

/*
 * Section Styles
*/
section.intro, section.contact {
  padding: 40px;
}

section.intro {
  background: #fff;
}
section.contact {
  background: #e6e9ea;
}

/*
 * Aside Styles
*/

aside .left{
  float: left;
}

aside .right{
  float: right;
}

aside {
  margin-right: 1.5rem;
  margin-bottom: 0.625rem;
}
